<!-- <app-navbar></app-navbar> -->
<!-- Header con imagen de fondo -->
<app-hero></app-hero>
<!-- Cuerpo -->
<main class="categories">
    <div class="container text-center">
        <div class="row align-items-end">
            <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 col-xxl-3 my-3 px-2">
                <a href="juegos_casuales.html" class="category-card">
                    <img src="assets/img/juegos_mesa.jpg" alt="Juegos Casuales" />
                    <h2>Juegos Casuales</h2>
                </a>
            </div>
            <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 col-xxl-3 my-3 px-2">
                <a href="juegos_estrategia.html" class="category-card">
                    <img src="assets/img/otros.jpg" alt="Otros" />
                    <h2>Juegos de Estrategia</h2>
                </a>
            </div>
            <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 col-xxl-3 my-3 px-2">
                <a href="tcg.html" class="category-card">
                    <img src="assets/img/tcg.jpg" alt="TCG" />
                    <h2>TCG</h2>
                </a>
            </div>
            <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 col-xxl-3 my-3 px-2">
                <a href="accesorios.html" class="category-card">
                    <img src="assets/img/accesorios.png" alt="Accesorios" />
                    <h2>Accesorios</h2>
                </a>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>